/* global */
body {
	font-family: "Nunito", sans-serif;
}
a,
a:hover,
a:visited,
a:focus {
    color: #000;
    text-decoration: none
}
h2 {
	color: #000;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 22px
}
h2::after {
	content: "";
	width: 100;
	position: absolute;
	margin: 0 auto;
	height: 1px;
	background-color: #000;
	left: 0;
	right: 0;
	bottom: -10px;
	
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.btn-trocar {
    font-size: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 3px 6px;
    font-family: "Nunito", sans-serif;
    outline: none;
    float: right;
}

/* PRODUTO */
.item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.item .item-img {
	height: 182px;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
.item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.item h4 {
	margin: 0;
	min-height: 27px;
    overflow: hidden;
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.item .btn:hover,
.carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.item .item-price {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
	padding: 2px 0;
	height: 11px;
}
.item .item-price del {
	color: #c5c5c5;
}
.item .item-price span {
	font-size: 12px;
}
.item .item-price-parcelas {
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 1px;
	height: 11px;
}
.item .item-wrapper {
	text-align: center;
}


/* Carousel indicators */
#myCarousel {
    padding: 0 30px;
}
.carousel .carousel-indicators {
	bottom: -30px;
}
.carousel-indicators li,
.carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}

.carousel-control {
    width: 4%;
}
.carousel-control.left,
.carousel-control.right {
    background-image:none;
}

/* AVALIAÇÃO */
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 17px;
	color: #ffda19;
}
.star-rating {
	line-height: 0;
}
.list-inline {
	margin-top: 8px;
    margin-bottom: 8px;
}
.item-disable i {
    color: #eaeff2!important;
}

/* OVERLAY */
.item-wrapper:hover .overlay {
    opacity: 1;
    visibility: visible;
}
.item-img .overlay {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.item-img .overlay .custom-specs-action {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.item-img .overlay .buttons {
    color: #fff;
    font-size: 11px;
    cursor: pointer;
    font-family: "Nunito",sans-serif;
    position: relative;
    text-align: center;
    pointer-events: all;
    letter-spacing: 2px;
    display: inline-block;
    padding: 7px 19px;
    text-transform: uppercase;
	background: #d90042;
	border: none;
}
.item-img .overlay .buttons:focus {
	outline: none
}

/* SETAS */
.arrow.next {
    border-top: 1px solid #484848;
    border-right: 1px solid #484848;
    right: 10px;
}
.arrow.prev {
    border-bottom: 1px solid #484848;
    border-left: 1px solid #484848;
    left: 10px;
}
.arrow {
    display: block;
}
.arrow {
    text-indent: -9999em;
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    z-index: 100;
    top: 50%;
    margin: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* RESPONSIVO */
@media (max-width: 767px) {
	.carousel-inner .active.left { 
        left: -100%;
    }
	.carousel-inner .next { 
        left:  100%;
    }
	.carousel-inner .prev { 
        left: -100%; 
    }
	.active > div { 
        display:none;
    }
	.active > div:first-child { 
        display:block; 
    }
}
@media (min-width: 767px) and (max-width: 992px ) {
	.active > div { 
        display:none;
    }
	.active > div:first-child {
        display:block;
    }
    .active > div:first-child + div {
        display:block; 
    }
    .item-fixo{
        width: 37%!important;
        margin: auto;
    }
}
@media (max-width: 992px ) {
    a.carousel-control {
        display: none;
    }
}
@media (min-width: 992px ) {
    .carousel-indicators {
        display: none!important
    }
}
@media (min-width: 1140px) {
    .vistiado,
    .item-wrapper {
        width: 176px;
        float: right;
    }
}
@media (min-width: 767px) {
    #myCarousel {
        display: table;
    }
}

@media (max-width: 767px) {
    .item-fixo{
        width: 100%;
    }
    .item-wrapper:hover .overlay {
        opacity: 0;
    }
}